{% include "html/header.html" %}
</head>
<body>
<h2>Distillery Connection</h2>

<form name="new" action="connection" method="post">
<ul>
	<li class="formrow">
		<label for="name">name:</label>
		<input id="name" type="text" name="name" value="" required/>
	</li>
	<li class="formrow">
		<label for="type">type:</label>
		<select id="type" name="type">
			<option value="PostgreSQL">PostgreSQL</option>
			<option value="MySQL">MySQL</option>
		</select>
	</li>
	<li class="formrow">
		<label for="configuration">configuration:</label>
		<input id="configuration" type="textarea" name="configuration" value="" required/>
	</li>
</ul>
<br/>
<input type="submit" value="+">
</form>


{% for connection in connections: %}
	{{ connection }} <br/>
{% endfor %}


</body>
</html>
