{% include "html/header.html" %}
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<style>
#main {
	display: flex;
}
#container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 200px;
}
</style>
</head>
<body>

<div id="main"></div>
<div id="container" style="width: 400px; height: 300px; border: 1px solid grey"
onclick="
	var spec = window.editor.getValue();
	document.getElementById('configuration').value = spec;
"
autofocus>
<script>
	var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
</script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
<script>
	window.editor = monaco.editor.create(document.getElementById('container'), {
		value: '',
		language: 'json',
		scrollbar: {
			vertical: 'auto',
			horizontal: 'auto'
		},
		theme: 'vs-dark',
		automaticLayout: true,
	});
</script>

<script>
async function selectionChanged() {
	var sel = document.getElementById('selection');
	var xid = sel.value;
	var config = "";
	var type = "";
	if (xid.length == 32) {
		var connJson = await (await fetch('/connection?xid=' + xid)).json();
		config = connJson['configuration'];
		type = connJson['type'];
	}
	document.getElementById('xid').value = xid;
	document.getElementById('configuration').value = config;
	document.getElementById('type').value = type;
	var name = sel.options[sel.selectedIndex].text;
	document.getElementById('name').value = name;
	window.editor.setValue(config);
}
</script>

<form name="new" action="connection" method="post">
<ul>
	<li class="formrow">
		<label for="name">name:</label>
		<input id="name" type="text" name="name" value="" required/>
	</li>
	<li class="formrow">
		<label for="type">type:</label>
		<select id="type" name="type">
			<option value="PostgreSQL">PostgreSQL</option>
			<option value="MySQL">MySQL</option>
		</select>
	</li>
	<input type="hidden" id="xid" name="xid" value="">
	<input type="hidden" id="configuration" name="configuration" value="">
</ul>
<br/>
<input type="submit" value="+">
</form>

<form name="selection" action="">
	<label for="selection">Connections:</label>
	<select name="selection" id="selection" onchange="selectionChanged();">
		<option value="" selected></option>
	{% for conn in connections %}
		<option value="{{ conn['xid'] }}">{{ conn['name'] }}</option>
	{% endfor %}
	</select>
</form>

</body>
</html>
