{% include "html/header.html" %}
	<script src="https://cdn.jsdelivr.net/npm/d3@7.0.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.18.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/datalib@1.9.3"></script>
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<script>
function dashboard() {
	return document.getElementById('dashboard');
}
function setDashboard(html) {
	dashboard().innerHTML = html;
}
async function bindView(vid, xvid, config={}) {
	var spec = JSON.parse(await (await fetch('/view?xid='+xvid)).json());
	var baseConfig = {actions:false, theme:'dark'};
	var embedConfig = {...baseConfig, ...config};
	await vegaEmbed('#'+vid, spec, embedConfig);
}
</script>
<script>
	var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
</script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
<style>
#main {
	display: flex;
}
#editor {
	flex: 0 0 500px;
}
#dashboard {
	flex: 1 1 auto;
}
</style>
</head>
<body>
<div id="main">

	<div id="editor" style="width: 800px; height: 600px; border: 1px solid grey"
	onclick="
		var spec = window.editor.getValue();
		document.getElementById('configuration').value = spec;
		let specFunc = new Function('(async function(){'+spec+'})();');
		specFunc();
	"
	 autofocus>
	</div>

	<div id="dashboard"></div>
</div>

<script>
	window.editor = monaco.editor.create(document.getElementById('editor'), {
		value: '',
		language: 'javascript',
		scrollbar: {
			vertical: 'auto',
			horizontal: 'auto'
		},
		theme: 'vs-dark',
		automaticLayout: true,
	});
</script>

<form name="new" action="dashboard" method="post">
<ul>
	<li class="formrow">
		<label for="name">name:</label>
		<input id="name" type="text" name="name" value="" required/>
	</li>
	<input type="hidden" id="xid" name="xid" value="">
	<input type="hidden" id="configuration" name="configuration" value="">
</ul>
<br/>
<input type="submit" value="+">
</form>

<script>
async function selectionChanged() {
	var sel = document.getElementById('selection');
	var xid = sel.value;
	var spec = "";
	if (xid.length == 32) {
		spec = await (await fetch('/dashboard?xid=' + xid)).json();
	}
	document.getElementById('xid').value = xid;
	document.getElementById('configuration').value = spec;
	var name = sel.options[sel.selectedIndex].text;
	document.getElementById('name').value = name;
	window.editor.setValue(spec);
}
</script>

<form name="selection" action="">
	<label for="selection">Dashboards:</label>
	<select name="selection" id="selection" onchange="selectionChanged();">
		<option value="" selected></option>
	{% for dashboard in dashboards %}
		<option value="{{ dashboard['xid'] }}">{{ dashboard['name'] }}</option>
	{% endfor %}
	</select>
</form>
</body>
</html>
