{% include "html/header.html" %}
</head>
<body>
<h2>Distillery Query</h2>

<form name="new" action="query" method="post">
<ul>
	<li class="formrow">
		<label for="name">name:</label>
		<input id="name" type="text" name="name" value="" required/>
	</li>
	<li class="formrow">
		<label for="xconnection_id">xconnection_id:</label>
		<select id="xconnection_id" name="xconnection_id">
			{% for xconnection_label in xconnection_labels: %}
			<option value="{{ xconnection_label[0] }}">{{ xconnection_label[1] }}</option>
			{% endfor %}
		</select>
	</li>
	<li class="formrow">
		<label for="query_text">query_text:</label>
		<input id="query_text" type="textarea" name="query_text" value="" required/>
	</li>
</ul>
<br/>
<input type="submit" value="+">
</form>


{% for query in queries: %}
	{{ query }} <br/>
{% endfor %}


</body>
</html>
