{% include "html/header.html" %}
	<script src="https://cdn.jsdelivr.net/npm/d3@7.0.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.18.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/datalib@1.9.3"></script>
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<style>
#main {
	display: flex;
}
#container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 600px;
}
</style>

</head>
<body>
<div id="main">
<div id="container" style="width: 800px; height: 600px; border: 1px solid grey"
onclick="
	var spec = window.editor.getValue();
	document.getElementById('configuration').value = spec;
	if (spec.length > 0) {
		vegaEmbed('#vis', JSON.parse(spec), {actions:false, theme:'dark'});
	} else {
		document.getElementById('vis').innerHTML = '';
	}
"
 autofocus>
</div>

<div id="vis"></div>
</div>

<script>
	var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
</script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
<script>
	window.editor = monaco.editor.create(document.getElementById('container'), {
		value: '',
		language: 'json',
		scrollbar: {
			vertical: 'auto',
			horizontal: 'auto'
		},
		theme: 'vs-dark',
		automaticLayout: true,
	});
</script>

<script>
async function selectionChanged() {
	var sel = document.getElementById('selection');
	var xid = sel.value;
	var spec = "";
	if (xid.length == 32) {
		spec = await (await fetch('/view?xid=' + xid)).json();
	}
	document.getElementById('xid').value = xid;
	document.getElementById('configuration').value = spec;
	var name = sel.options[sel.selectedIndex].text;
	document.getElementById('name').value = name;
	window.editor.setValue(spec);
}
</script>

<form name="new" action="view" method="post">
	<ul>
		<li class="formrow">
			<label for="name">name:</label>
			<input id="name" type="text" name="name" value="" required/>
		</li>
		<input type="hidden" id="xid" name="xid" value="">
		<input type="hidden" id="configuration" name="configuration" value="">
	</ul>
	<br/>
	<input type="submit" value="+">
</form>
<form name="selection" action="">
	<label for="selection">Views:</label>
	<select name="selection" id="selection" onchange="selectionChanged();">
		<option value="" selected></option>
	{% for view in views %}
		<option value="{{ view['xid'] }}">{{ view['name'] }}</option>
	{% endfor %}
	</select>
</form>


</body>
</html>
