* {
	margin: 1;
	font-family: "Verdana, Arial";
}

html, body {
	height: 100%;
	color: #ddd;
	background-color: #060606;
}

a {
	color: #888;
}

.formrow {
	display: grid;
	margin-bottom: 10px;
	margin-left: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
}


