* {
	font-family: "Courier New";
	font-size: 14px;
	margin: 1;
}

html, body {
	background-color: #111;
	color: #ddd;
	height: 100%;
}

a {
	color: #ccc;
}

button, input[type=button], input[type=submit] {
	background-color: #333;
	border: 1px solid #aaa;
	color: #eee;
	display: inline-block;
	padding: 4px 12px;
	text-align: center;
	transition-duration: 0.4s;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color: #aaa;
	border: 1px solid #aaa;
	color: #111;
}
button:active, input[type=button]:active, input[type=submit]:active {
	background-color: #fff;
	border: 1px solid #ccc;
	color: black;
}
input[type=text], input[type=password], select {
	background-color: #333;
	color: white;
	font-size: 14px;
	padding: 4px 12px;
}
input[type=range] {
	background: #333;
}
input[type=checkbox] {
	background: #333;
	background-color: #333;
	cursor: pointer;
	font-size: 14px;
	height: 14px;
	margin: 4px;
	visibility: hidden;
	width: 14px;
}
input[type=checkbox]:after {
	border: 1px solid #3b4;
	color: #3b4;
	content: " ";
	display: inline-block;
	visibility: visible;
}
input[type=checkbox]:checked:after {
	content: "\2714";
	font-weight: bold;
}

