{% include "header.html" %}
	<script src="https://cdn.jsdelivr.net/npm/d3@7.0.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.18.2"></script>
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<script>
function dashboard() {
	return document.getElementById('dashboard_panel');
}
function html(html) {
	dashboard().innerHTML = html;
}
async function bindView(vid, xvid, config={}) {
	var spec = JSON.parse(await (await fetch('/view?xid='+xvid)).json());
	var baseConfig = {actions:false, theme:'dark'};
	var embedConfig = {...baseConfig, ...config};
	return vegaEmbed('#'+vid, spec, embedConfig);
}
</script>
<style>
#main {
	display: grid;
}
#nav_panel {
	width
}i

#main {
	display: grid;
}
#nav_panel {
	width: 99%;
	height: 30px;
	border: 1px solid #555;
}
#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: calc(90vh);
	width: calc(99vw);
}
#configuration_panel {
	width: calc(40vw);
	height: calc(88vh);
	border: 1px solid #555;
	resize: horizontal;
	overflow: hidden;
}
#dashboard_panel {
	padding: 1px;
	float: left;
}
#control_panel {
	width: calc(40vw);
	height: 30px;
	border: 1px solid #555;
}
</style>
</head>
<body>
<div id="main">

	<div id="nav_panel">
		<button onclick="window.location.assign('/')">home</button>
		<button onclick="window.location.assign('/connection')">connection</button>
		<button onclick="window.location.assign('/query')">query</button>
		<button onclick="window.location.assign('/view')">view</button>
		<button onclick="window.location.assign('/dashboard')">dashboard</button>
	</div>

	<div id="wrapper">
		<div id="configuration_panel"
			onclick="
				var configuration = window.editor.getValue();
				let configurationFunc = new Function('(async function(){'+configuration+'})();');
				configurationFunc();
			"
			 autofocus>
			<script>
				var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
			</script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
			<script>
				window.editor = monaco.editor.create(document.getElementById('configuration_panel'), {
					value: '',
					language: 'javascript',
					fontSize: 14,
					scrollbar: {
						vertical: 'auto',
						horizontal: 'auto'
					},
					theme: 'vs-dark',
					automaticLayout: true,
					wordWrap: 'on'
				});
			</script>
		</div>

		<div id="dashboard_panel"></div>
	</div>

	<div id="control_panel">

		<script>
		async function savedSelectionChanged() {
			var sel = document.getElementById('saved_selection');
			var xid = sel.value;
			var configuration = "";
			if (xid.length == 32) {
				configuration = await (await fetch('/dashboard?xid=' + xid)).json();
			}
			document.getElementById('xid').value = xid;
			var name = sel.options[sel.selectedIndex].text;
			document.getElementById('name').value = name;
			window.editor.setValue(configuration);
		}
		</script>

		<script>
			async function saveDashboard() {
				var xid = document.getElementById('xid').value;
				var configuration = window.editor.getValue();
				var name = document.getElementById('name').value;
				if (xid.length == 0) {
					var eventType = 'new';
				} else {
					var eventType = 'update';
				}
				var saveEvent = {
					'event_type': eventType,
					'xid': xid,
					'name': name,
					'configuration': configuration
				};
				var saveResp = await fetch('/dashboard', {
					'method': 'POST',
					'body': JSON.stringify(saveEvent),
					'headers': {'Content-Type': 'application/json'}
				});
				if (eventType == 'new') {
					responseEvent = await saveResp.json();
					xid = responseEvent['xid'];
					var sel = document.getElementById('saved_selection');
					sel.add(new Option(name, xid));
					sel.selectedIndex = sel.length - 1;
				}
				if (eventType == 'update') {
					var sel = document.getElementById('saved_selection');
					sel.remove(sel.selectedIndex);
					sel.add(new Option(name, xid));
					sel.selectedIndex = sel.length - 1;
				}
			}
		</script>

		<script>
			async function deleteDashboard() {
				var xid = document.getElementById('xid').value;
				if (xid.length != 32) {
					return;
				}
				var deleteEvent = {
					'event_type': 'delete',
					'xid': xid
				};
				await fetch('/dashboard', {
					'method': 'POST',
					'body': JSON.stringify(deleteEvent),
					'headers': {'Content-Type': 'application/json'}
				});
				var sel = document.getElementById('saved_selection');
				sel.remove(sel.selectedIndex);
				document.getElementById('xid').value = '';
				document.getElementById('name').value = '';
				window.editor.setValue('');
			}
		</script>


		<form name="dashboard_form" action="">
			<label for="name">name:</label>
			<input id="name" type="text" name="name" value="" required/>
			<input type="hidden" id="xid" name="xid" value="">
			<input type="button" value="save" onclick="saveDashboard();">
			<input type="button" value="delete" onclick="deleteDashboard();">
			<label for="saved_selection">Saved Dashboards:</label>
			<select id="saved_selection" onchange="savedSelectionChanged();">
				<option value="" selected></option>
				{% for dashboard in dashboards %}
				<option value="{{ dashboard['xid'] }}">{{ dashboard['name'] }}</option>
				{% endfor %}
			</select>
		</form>
	</div>

</div>
</body>
</html>
