{% include "header.html" %}
<style>
#nav_panel {
	width: 99%;
	height: 30px;
	border: 1px solid #555;
}
</style>
</head>
<body>

<div id="main">
	<div id="nav_panel">
		<button onclick="window.location.assign('/')">home</button>
		<button onclick="window.location.assign('/connection')">connection</button>
		<button onclick="window.location.assign('/query')">query</button>
		<button onclick="window.location.assign('/view')">view</button>
		<button onclick="window.location.assign('/dashboard')">dashboard</button>
		{% if login %}
			<button onclick="window.location.assign('/logout')">logout</button>
		{% else %}
			<button onclick="window.location.assign('/login')">login</button>
			<button onclick="window.location.assign('/signup')">signup</button>
		{% endif %}
	</div>

	<div>
		<center>
		<h3>Home</h3>
		<h1>Distillery Ad</h1>
		</center>
	</div>
</div>
</body>
</html>
