{% include "header.html" %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
#nav_panel {
	width: 99%;
	height: 30px;
	border: 1px solid #555;
}
@font-face {
	font-family: "Otomanopee One";
	src: url("/font/OtomanopeeOne-Regular.ttf") format("truetype");
}
.bigtext {
	font-family: "Otomanopee One";
	font-size: 42px;
	font-weight: bold;
}
.smoltext {
	font-family: "Otomanopee One";
	font-size: 24px;
}
</style>
</head>
<body>

<div id="main">
	<div id="nav_panel">
		{% if login %}
			<div id="nav" class="dropdown">
				<button class="dropbutton">
					<div><i class="material-icons">menu_open</i></div>
				</button>
				<div class="dropdown_content" >
					<a href="/connection" title="connection"><i style="font-size:24px;" class="material-icons">cable</i></a><div></div>
					<a href="/query" title="query"><i style="font-size:24px;" class="material-icons">question_answer</i></a><div></div>
					<a href="/view" title="view"><i style="font-size:24px;" class="material-icons">area_chart</i></a><div></div>
					<a href="/dashboard" title="dashboard"><i style="font-size:24px;" class="material-icons">dashboard</i></a><div></div>
					<a href="/team" title="team"><i style="font-size:24px;" class="material-icons">groups</i></a><div></div>
					<a href="/logout" title="logout"><i style="font-size:24px;" class="material-icons">logout</i></a><div></div>
				</div>
			</div>
		{% else %}
			<button onclick="window.location.assign('/login')">login</button>
			<button onclick="window.location.assign('/signup')">signup</button>
		{% endif %}
	</div>

	<div>
		<center>
			<div class="bigtext">
			SQL Plot
			</div>
			<div class="smoltext">
			Data Driven Dashboards.<br/><br/>
			<img width="1246" src="/simg/screenshot1.png"><br/><br/>
			Type SQL.<br/><br/>
			<img width="1246" src="/simg/screenshot2.png"><br/><br/>
			Type Javascript,<br/><br/>
			<img width="1246" src="/simg/screenshot3.png"><br/><br/>
			Share Dashboards,<br/><br/>
			<img width="1246" src="/simg/screenshot4.png"><br/><br/>
			<br/><br/>
			</div>
		</center>
	</div>
</div>
<canvas id="canvas" style="position:fixed;top:32;left:0;pointer-events:none;mix-blend-mode:screen;" width="99%" height="99%"></canvas>
<script>
window.onload = function() {

	var canvas = document.getElementById("canvas");
	var ctx = canvas.getContext("2d");
	var W = window.innerWidth,
		H = window.innerHeight;
	canvas.width = W;
	canvas.height = H;
	var particles = [];
	for (var i = 0; i < 32; i++)
	{
		particles.push(new particle());
	}

	function particle()
	{
		this.location = {
			x: Math.random() * W,
			y: Math.random() * H
		};
		this.radius = 1;
		this.speed = 3;
		this.angle = Math.random() * 360;
		var r = 33;
		var g = Math.round(Math.random() * 33);
		var b = Math.round(Math.random() * 255);
		var a = Math.random()*0.6;
		this.rgba = "rgba("+r+", "+g+", "+b+", "+a+")";
	}

	function draw()
	{
		ctx.globalCompositeOperation = "source-over";
		ctx.fillStyle = "rgba(0, 0, 0, 0.1)";
		ctx.fillRect(0, 0, canvas.width, canvas.height);
		ctx.globalCompositeOperation = "lighter";
		for (var i = 0; i < particles.length; i++)
		{
			var p = particles[i];
			ctx.fillStyle = "#33f";
			ctx.fillRect(p.location.x, p.location.y, p.radius, p.radius);
			for (var n = 0; n < particles.length; n++)
			{
				var p2 = particles[n];
				var yd = p2.location.y - p.location.y;
				var xd = p2.location.x - p.location.x;
				var distance = Math.sqrt(xd*xd + yd*yd);
				if (distance < 260)
				{
					ctx.beginPath();
					ctx.lineWidth = 2;
					ctx.moveTo(p.location.x, p.location.y);
					ctx.lineTo(p2.location.x, p2.location.y);
					ctx.strokeStyle = p.rgba;
					ctx.stroke();
				}
			}
			p.location.x = p.location.x + p.speed*Math.cos(p.angle*Math.PI/180);
			p.location.y = p.location.y + p.speed*Math.sin(p.angle*Math.PI/180);
			if (p.location.x < 0) { p.location.x = W; }
			if (p.location.x > W) { p.location.x = 0; }
			if (p.location.y < 0) { p.location.y = H; }
			if (p.location.y > H) { p.location.y = 0; }
		}
	}

	function filter() {
		var i,
			j,
			threshold = 10,
			rgb = [],
			imgData = ctx.getImageData(0, 0, W, H),
			Npixels = imgData.data.length;
		for (i = 0; i < Npixels; i += 4) {
				rgb[0] = imgData.data[i];
				rgb[1] = imgData.data[i + 1];
				rgb[2] = imgData.data[i + 2];
				if (rgb[0] < threshold &&
						rgb[1] < threshold &&
						rgb[2] < threshold) {
					imgData.data[i] = 0;
					imgData.data[i + 1] = 0;
					imgData.data[i + 2] = 0;
				}
		}
		ctx.putImageData(imgData, 0, 0);
	}

	setInterval(filter, 90);
	setInterval(draw, 30);
}
</script>

</body>
</html>
