{% include "header.html" %}
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<style>
#main {
	display: flex;
}
#container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 200px;
}
</style>
</head>
<body>

<script>
	const querySession = '{{ query_session }}'.slice(6, -5);
</script>

<script>
	const querySocket = new WebSocket('ws://127.0.0.1:8080/query_socket');
	querySocket.onmessage = (msg) => {
		console.log(msg);
	}
</script>

<div id="main"></div>
<div id="container" style="width: 800px; height: 300px; border: 1px solid grey"
onclick="
	var queryText = window.editor.getValue();
	document.getElementById('query_text').value = queryText;
"
autofocus>
<script>
	var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
</script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
<script>
	window.editor = monaco.editor.create(document.getElementById('container'), {
		value: '',
		language: 'sql',
		fontSize: 14,
		scrollbar: {
			vertical: 'auto',
			horizontal: 'auto'
		},
		theme: 'vs-dark',
		automaticLayout: true,
	});
	document.addEventListener('keydown', (event) => {
		if (event.shiftKey && event.key == 'Enter') {
			var event = {
				'query_session': querySession,
				'query_text': window.editor.getValue(),
				'connection_xid': document.getElementById('connection_xid').value,
				'requested': (new Date()).getTime()
			}
			querySocket.send(JSON.stringify(event));
		}
	});
</script>

<script>
async function selectionChanged() {
	var sel = document.getElementById('selection');
	var xid = sel.value;
	var queryText = "";
	var xconnectionId = "";
	if (xid.length == 32) {
		var queryJson = await (await fetch('/query?xid=' + xid)).json();
		queryText = queryJson['query_text'];
		connectionXid = queryJson['connection_xid'];
	}
	document.getElementById('xid').value = xid;
	document.getElementById('query_text').value = queryText;
	document.getElementById('connection_xid').value = connectionXid;
	var name = sel.options[sel.selectedIndex].text;
	document.getElementById('name').value = name;
	window.editor.setValue(queryText);
}
</script>

<form name="new" action="query" method="post">
<ul>
	<li class="formrow">
		<label for="name">Name:</label>
		<input id="name" type="text" name="name" value="" required/>
	</li>
	<li class="formrow">
		<label for="connection_xid">Connection:</label>
		<select id="connection_xid" name="connection_xid">
			{% for connection_label in connection_labels: %}
			<option value="{{ connection_label[0] }}">{{ connection_label[1] }}</option>
			{% endfor %}
		</select>
	</li>
	<input type="hidden" id="xid" name="xid" value="">
	<input type="hidden" id="query_text" name="query_text" value="">
</ul>
<br/>
<input type="submit" value="save">
</form>


<form name="selection" action="">
	<label for="selection">Queries:</label>
	<select name="selection" id="selection" onchange="selectionChanged();">
		<option value="" selected></option>
	{% for query in queries %}
		<option value="{{ query['xid'] }}">{{ query['name'] }}</option>
	{% endfor %}
	</select>
</form>


</body>
</html>
