{% include "header.html" %}
	<script src="https://cdn.jsdelivr.net/npm/d3@7.0.0"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<style>
#main {
	display: grid;
}
#query_panel {
	width: 99%;
	height: 300px;
	border: 1px solid #555;
	resize: vertical;
	overflow: hidden;
}
#stats_panel {
	display: flex;
	width: 99%;
	height: 20px;
	border: 1px solid #555;
	overflow: hidden;
	background: #111;
	font-size: 12px;
}
#stats_panel div {
	border: 1px solid #555;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 6px;
	background: #222;
	color: #eee;
	min-width: 8em;
}
#stats_panel label {
	font-size: 12px;
	transform: translateY(3px);
	text-align: center;
	vertical-align: middle;
	padding-left: 6px;
	padding-right: 6px;
}
#control_panel {
	width: 99%;
	height: 30px;
	border: 1px solid #555;
	overflow: hidden;
	background: #111;
}
#control_panel input {
	float: left;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 6px;
}
#control_panel label {
	transform: translateY(6px);
	float: left;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 6px;
}
#results_panel {
	width: 99%;
	height: 99%;
	border: 1px solid #555;
}
.material-icons {
	font-size: 18px;
	transform: translateY(4px);
}
.error {
	padding: 2em;
	color: #f44;
}
</style>
</head>
<body>

<script>
function openResultsSocket() {
	var resultsSocket = new WebSocket('wss://sqlplot.com/results_socket');
	resultsSocket.onmessage = async (msg) => {
		var result = JSON.parse(msg.data);
		console.log(result);
		if (result['status'] == 'success') {
			await renderResults();
		} else if (result['status'] == 'fail') {
			var msg = result['msg'];
			var err = `<div class="error">Query Failure: ${msg}</div>`;
			console.log(err);
			d3.select('#results_panel').html(err);
		}
	}
	return resultsSocket;
}
var resultsSocket = openResultsSocket();
</script>
<script>
function openQuerySocket() {
	var querySocket = new WebSocket('wss://sqlplot.com/query_socket');
	querySocket.onmessage = (msg) => {
		console.log(msg);
	}
	return querySocket;
}
var querySocket = openQuerySocket();
function sendQueryEvent(event) {
	if (resultsSocket.readyState != 1) {
		resultsSocket = openResultsSocket();
	}
	if (querySocket.readyState == 1) {
		querySocket.send(JSON.stringify(event));
	} else {
		querySocket = openQuerySocket();
		setTimeout(() => {querySocket.send(JSON.stringify(event))}, 1000);
	}
}
</script>
<script>
var queryStart;
function sendQuery() {
	var queryText = window.editor.getValue();
	if (queryText.trim().length == 0) {
		return;
	}
	queryStart = new Date();
	document.querySelector('#time').innerText = '';
	document.querySelector('#row_count').innerText = '';
	document.querySelector('#column_count').innerText = '';
	document.getElementById('results_panel').innerHTML = '';
	var connectionXid = document.querySelector('#connection input:checked').value;
	var event = {
		'query_text': queryText,
		'connection_xid': connectionXid,
		'requested': (new Date()).getTime()
	}
	sendQueryEvent(event);
}
</script>

<div id="main">

	<script>
		async function savedSelectionChanged() {
			var checked = document.querySelector('#queries input:checked');
			if (checked == null) {
				document.querySelector('#new_query').checked = true;
				var xid = '';
			} else {
				var xid = checked.value;
			}
			var name = '';
			var connectionXid = '';
			var queryText = '';
			var editors = [];
			var readers = [];
			if (xid.length == 32) {
				var query = await (await fetch(`/query?xid=${xid}`)).json();
				name = query['name'];
				queryText = query['query_text'];
				connectionXid = query['connection_xid'];
				editors = query['editors'];
				readers = query['readers'];
			}
			document.getElementById('name').value = name;
			if (queryText.length > 0) {
				// don't clear query wip
				window.editor.setValue(queryText);
			}
			if (connectionXid.length > 0) {
				var connInputs = document.querySelectorAll('#connection input[type="radio"]');
				var connIndex = Array.from(connInputs).map(x=>x.value).indexOf(connectionXid);
				connInputs[connIndex].checked = true;
			}
			var editorInputs = document.querySelectorAll('#editors input[type="checkbox"]');
			var readerInputs = document.querySelectorAll('#readers input[type="checkbox"]');
			editorInputs.forEach((inp)=>{inp.checked = editors.includes(inp.value.slice(7))});
			readerInputs.forEach((inp)=>{inp.checked = readers.includes(inp.value.slice(7))});
		}
	</script>

	<script>
		async function saveQuery() {
			var xid = document.querySelector('#queries input:checked').value;
			var name = document.getElementById('name').value;
			var connectionXid = document.querySelector('#connection input:checked').value;
			var queryText = window.editor.getValue();
			var editors = Array.from(document.querySelectorAll('#editors input:checked')).map(x=>x.value.slice(7));
			var readers = Array.from(document.querySelectorAll('#readers input:checked')).map(x=>x.value.slice(7));
			if ((name.length < 2) || (name.length > 32)) {
				return;
			}
			if (xid.length == 0) {
				var eventType = 'new';
			} else {
				var eventType = 'update';
			}
			var saveEvent = {
				'event_type': eventType,
				'xid': xid,
				'query_text': queryText,
				'name': name,
				'connection_xid': connectionXid,
				'editors': editors,
				'readers': readers
			};
			var saveResp = await fetch('/query', {
				'method': 'POST',
				'body': JSON.stringify(saveEvent),
				'headers': {'Content-Type': 'application/json'}
			});
			if (eventType == 'new') {
				responseEvent = await saveResp.json();
				xid = responseEvent['xid'];
				var queries = document.querySelector('#queries .dropdown_content');
				var newInput = document.createElement('input');
				newInput.setAttribute('id', xid);
				newInput.setAttribute('name', 'query');
				newInput.setAttribute('type', 'radio');
				newInput.setAttribute('value', xid);
				newInput.setAttribute('checked', true);
				var newLabel = document.createElement('label');
				newLabel.setAttribute('for', xid);
				newLabel.innerText = name;
				queries.appendChild(newInput);
				queries.appendChild(newLabel);
			}
			if (eventType == 'update') {
				var queries = document.querySelector('#queries .dropdown_content');
				var newInput = document.createElement('input');
				newInput.setAttribute('id', xid);
				newInput.setAttribute('name', 'connection');
				newInput.setAttribute('type', 'radio');
				newInput.setAttribute('value', xid);
				var newLabel = document.createElement('label');
				newLabel.setAttribute('for', xid);
				newLabel.innerText = name;
				queries.removeChild(document.querySelector(`#${xid}`));
				queries.removeChild(document.querySelector(`label[for=${xid}]`));
				queries.appendChild(newInput);
				queries.appendChild(newLabel);
			}
		}
	</script>

	<script>
		async function deleteQuery() {
			var checked = document.querySelector('#queries input:checked');
			var xid = checked.value;
			if (xid.length != 32) {
				return;
			}
			var deleteEvent = {
				'event_type': 'delete',
				'xid': xid
			};
			await fetch('/query', {
				'method': 'POST',
				'body': JSON.stringify(deleteEvent),
				'headers': {'Content-Type': 'application/json'}
			});
			document.getElementById('name').value = '';
			window.editor.setValue('');
			var queries = document.querySelector('#queries .dropdown_content');
			queries.removeChild(document.querySelector(`#${xid}`));
			queries.removeChild(document.querySelector(`label[for=${xid}]`));
			var editorInputs = document.querySelectorAll('#editors input[type="checkbox"]');
			var readerInputs = document.querySelectorAll('#readers input[type="checkbox"]');
			editorInputs.forEach((inp)=>{inp.checked = false});
			readerInputs.forEach((inp)=>{inp.checked = false});
		}
	</script>

	<script>
		async function copyXid() {
			const xid = document.querySelector('#queries input:checked').value;
			navigator.clipboard.writeText(xid);
		}
	</script>

	<div id="control_panel">
		<div id="nav" class="dropdown">
			<button class="dropbutton">
				<div><i class="material-icons">menu_open</i></div>
			</button>
			<div class="dropdown_content" >
				<a href="/" title="home"><i style="font-size:24px;" class="material-icons">home</i></a><div></div>
				<a href="/connection" title="connection"><i style="font-size:24px;" class="material-icons">cable</i></a><div></div>
				<a href="/view" title="view"><i style="font-size:24px;" class="material-icons">area_chart</i></a><div></div>
				<a href="/dashboard" title="dashboard"><i style="font-size:24px;" class="material-icons">dashboard</i></a><div></div>
				<a href="/team" title="team"><i style="font-size:24px;" class="material-icons">groups</i></a><div></div>
				<a href="/logout" title="logout"><i style="font-size:24px;" class="material-icons">logout</i></a><div></div>
			</div>
		</div>
		<label for="name">name:</label>
		<input id="name" type="text" name="name" value="" minlength="2" maxlength="32" required/>
		<div id="connection" class="dropdown">
			<button class="dropbutton">
				<div>connection <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				{% for conn in connections %}
				<input name="connection" id="{{ conn['xid'] }}" type="radio" value="{{ conn['xid'] }}">
				<label for="{{ conn['xid'] }}">{{ conn['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<div id="editors" class="dropdown">
			<button class="dropbutton">
				<div>editors <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				{% for team in teams %}
				<input id="editor_{{ team['xid'] }}" type="checkbox" value="editor_{{ team['xid'] }}">
				<label for="editor_{{ team['xid'] }}">{{ team['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<div id="readers" class="dropdown">
			<button class="dropbutton">
				<div>readers <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				{% for team in teams %}
				<input id="reader_{{ team['xid'] }}" type="checkbox" value="reader_{{ team['xid'] }}">
				<label for="reader_{{ team['xid'] }}">{{ team['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<input type="button" value="save" title="save(query)" onclick="saveQuery();">
		<input type="button" value="delete" title="delete(query)" onclick="deleteQuery();">
		<div id="queries" class="dropdown" onmouseleave="savedSelectionChanged();">
			<button class="dropbutton">
				<div>queries</span> <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				<input name="query" id="new_query" type="radio" value="" checked>
				<label for="new_query">new_query</label>
				{% for query in queries %}
				<input name="query" id="{{ query['xid'] }}" type="radio" value="{{ query['xid'] }}">
				<label for="{{ query['xid'] }}">{{ query['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<input type="button" value="xid" title="copy(query_xid)" onclick="copyXid();">
		<input type="button" value="exec" title="execute query (alt+Enter)" onclick="sendQuery();">
	</div>

	<div id="query_panel" autofocus>
		<script>
			var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
		</script>
		<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
		<script>
			window.editor = monaco.editor.create(document.getElementById('query_panel'), {
				value: '',
				language: 'sql',
				fontSize: 14,
				scrollbar: {
					vertical: 'auto',
					horizontal: 'auto'
				},
				theme: 'vs-dark',
				automaticLayout: true,
				wordWrap: 'on'
			});
			document.addEventListener('keydown', (event) => {
				if (event.altKey && event.key == 'Enter') {
					sendQuery();
				}
			});
		</script>
	</div>

	<div id="stats_panel">
		<div id="time" title="elapsed time"></div>
		<div id="row_count" title="row count"></div>
		<div id="column_count" title="column count"></div>
	</div>

	<div id="results_panel">
		<script>
		async function renderResults() {
			var queryUrl = '{{ query_url }}';
			var csvText = await d3.text(queryUrl);
			var csv = d3.csvParseRows(csvText);
			// Stats Panel:
			var elapsed = (new Date() - queryStart);
			if (elapsed < 10**4) {
				elapsed = elapsed.toString() + '[ms]';
			} else if (elapsed < 10**7) {
				elapsed = (elapsed/1000.0).toString() + '[s]';
			} else {
				elapsed = (elapsed/1000.0/60).toString() + '[min]';
			}
			if (csv.length > 0) {
				var rowCount = (csv.length - 1).toString() + '[rows]';
				var colCount = (csv[0].length).toString() + '[cols]';
			} else {
				var rowCount = '0[rows]';
				var colCount = '0[cols]';
			}
			document.querySelector('#time').innerText = elapsed;
			document.querySelector('#row_count').innerText = rowCount;
			document.querySelector('#column_count').innerText = colCount;
			// Results Panel:
			d3.select('#results_panel').html('');
			var table = d3.select('#results_panel').append('table');
			table.style("border-collapse", "collapse")
				.style("border", "1px #aaa solid")
				.style("background-color", "#222");

			table.append("thead").append("tr")
				.selectAll("th")
				.data(csv[0])
				.enter().append("th")
				.text(function(d) { return d; })
				.style("border", "1px solid #888")
				.style("padding", "5px")
				.style("color", "white")
				.style("background-color", "#222")
				.style("font-weight", "bold");

			table.append("tbody")
				.selectAll("tr").data(csv.slice(1))
				.enter().append("tr")
				.selectAll("td")
				.data(function(d){return d;})
				.enter().append("td")
				.style("border", "1px solid #888")
				.style("color", "white")
				.style("padding", "5px")
				.on("mouseover", function(){
					d3.select(this).style("background-color", "#444");
				})
				.on("mouseout", function(){
					d3.select(this).style("background-color", "#222");
				})
				.text(function(d){return d;})
				.style("font-size", "12px");

		}
		</script>

	</div>
</div>
</body>
</html>
