{% include "header.html" %}
</head>

<body>
<style>
#nav_panel {
	width: 99%;
	height: 30px;
	border: 1px solid #555;
}
</style>
<div id="nav_panel">
	<button onclick="window.location.assign('/')">home</button>
	<button onclick="window.location.assign('/connection')">connection</button>
	<button onclick="window.location.assign('/query')">query</button>
	<button onclick="window.location.assign('/view')">view</button>
	<button onclick="window.location.assign('/dashboard')">dashboard</button>
</div>

<script>
async function savedSelectionChanged() {
	var sel = document.getElementById('saved_selection');
	var xid = sel.value;
	if (xid.length == 32) {
		var team = await (await fetch('/team?xid=' + xid)).json();
		team['admins'] = team['admins'].join('\n');
		team['members'] = team['members'].join('\n');
	} else {
		var team = {'admins': '', 'members': ''};
	}
	var name = sel.options[sel.selectedIndex].text;
	document.getElementById('name').value = name;
	document.getElementById('admins').value = team['admins'];
	document.getElementById('members').value = team['members'];
}
</script>

<script>
	async function saveTeam() {
		var sel = document.getElementById('saved_selection');
		var xid = sel.value;
		var name = document.getElementById('name').value;
		var admins = document.getElementById('admins').value;
		var members = document.getElementById('members').value;
		if ((name.length < 4) || (name.length > 32)) {
			return;
		}
		if (xid.length == 0) {
			var eventType = 'new';
		} else {
			var eventType = 'update';
		}
		var saveEvent = {
			'event_type': eventType,
			'xid': xid,
			'name': name,
			'admins': admins,
			'members': members
		};
		var saveResp = await fetch('/team', {
			'method': 'POST',
			'body': JSON.stringify(saveEvent),
			'headers': {'Content-Type': 'application/json'}
		});
		if (eventType == 'new') {
			responseEvent = await saveResp.json();
			xid = responseEvent['xid'];
			sel.add(new Option(name, xid));
			sel.selectedIndex = sel.length - 1;
		}
		if (eventType == 'update') {
			sel.remove(sel.selectedIndex);
			sel.add(new Option(name, xid));
			sel.selectedIndex = sel.length - 1;
		}
		await savedSelectionChanged();
	}
</script>

<script>
	async function deleteTeam() {
		var sel = document.getElementById('saved_selection');
		var xid = sel.value;
		if (xid.length != 32) {
			return;
		}
		var deleteEvent = {
			'event_type': 'delete',
			'xid': xid
		};
		await fetch('/team', {
			'method': 'POST',
			'body': JSON.stringify(deleteEvent),
			'headers': {'Content-Type': 'application/json'}
		});
		document.getElementById('name').value = '';
		document.getElementById('admins').value = '';
		document.getElementById('members').value = '';
		var sel = document.getElementById('saved_selection');
		sel.remove(sel.selectedIndex);
	}
</script>


<style>
form {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin: 1em;
	width: 40em;
}
</style>

<br/><br/>
<center>
<form id="team_form" action="">
		<label>name:</label>
		<input id="name" type="text" value="" minlength=4 maxlength=32 required/>
		<label>admins:</label>
		<textarea id='admins' form="team_form" cols=32 rows=4 style="resize: vertical;"></textarea>
		<label>members:</label>
		<textarea id='members' form="team_form" cols=32 rows=12 style="resize: vertical;"></textarea>
		<div></div>
		<div>
			<input id="save" type="button" value="save" onclick="saveTeam();">
			<input id="delete" type="button" value="delete" onclick="deleteTeam();">
		</div>
		<label>teams:</label>
		<select name="saved_selection" id="saved_selection" onclick="savedSelectionChanged();">
			<option value="" selected></option>
			{% for team in teams %}
			<option value="{{ team['xid'] }}">{{ team['name'] }}</option>
			{% endfor %}
		</select>
</form>
</center>

</body>
</html>
