{% include "header.html" %}
</head>

<body>

<style>
form {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin: 1em;
	width: 40em;
}
</style>

<br/><br/>
<center>
<form id="team_form" action="">
		<label>name:</label>
		<input id="name" type="text" value="" minlength=4 maxlength=32 required/>
		<label>members:</label>
		<textarea id='members' form="team_form" cols=32 rows=20 style="resize: vertical;"></textarea>
		<div></div>
		<div>
			<input id="save" type="button" value="save" onclick="saveTeam();">
			<input id="delete" type="button" value="delete" onclick="deleteTeam();">
		</div>
		<label>teams:</label>
		<select name="saved_selection" id="saved_selection" onclick="savedSelectionChanged();">
			<option value="" selected></option>
			{% for team in teams %}
			<option value="{{ team['xid'] }}">{{ team['name'] }}</option>
			{% endfor %}
		</select>
</form>
</center>

</body>
</html>
