{% include "header.html" %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/d3@7.0.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.18.2"></script>
	<script src="https://cdn.jsdelivr.net/npm/datalib@1.9.3"></script>
	<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.css">
<style>
#main {
	display: grid;
}
#wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: calc(95vh);
	width: calc(99vw);
}
#configuration_panel {
	width: calc(40vw);
	height: calc(94vh);
	border: 1px solid #555;
	resize: horizontal;
	overflow: hidden;
}
#view_panel {
	padding: 1px;
	float: left;
}
#control_panel {
	width: 99%;
	height: 30px;
	border: 1px solid #555;
	overflow: hidden;
}
#control_panel input, label {
	float: left;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 6px;
}
#control_panel label {
	transform: translateY(6px);
}
.material-icons {
	font-size: 18px;
	transform: translateY(4px);
}
</style>

</head>
<body>

<div id="main">

	<div id="control_panel">
		<script>
		async function savedSelectionChanged() {
			var checked = document.querySelector('#views input:checked');
			if (checked == null) {
				document.querySelector('#new_view').checked = true;
				var xid = '';
			} else {
				var xid = checked.value;
			}
			var name = '';
			var configuration = '';
			var editors = [];
			var readers = [];
			if (xid.length == 32) {
				var view = await (await fetch(`/view?xid=${xid}`)).json();
				name = view['name'];
				configuration = view['configuration'];
				editors = view['editors'];
				readers = view['readers'];
			}
			var editorInputs = document.querySelectorAll('#editors input[type="checkbox"]');
			var readerInputs = document.querySelectorAll('#readers input[type="checkbox"]');
			editorInputs.forEach((inp)=>{inp.checked = editors.includes(inp.value.slice(7))});
			readerInputs.forEach((inp)=>{inp.checked = readers.includes(inp.value.slice(7))});
			document.getElementById('name').value = name;
			window.editor.setValue(configuration);
		}
		</script>

		<script>
			async function saveView() {
				var xid = document.querySelector('#views input:checked').value;
				var configuration = window.editor.getValue();
				var name = document.getElementById('name').value;
				var editors = Array.from(document.querySelectorAll('#editors input:checked')).map(x=>x.value.slice(7));
				var readers = Array.from(document.querySelectorAll('#readers input:checked')).map(x=>x.value.slice(7));
				if ((name.length < 2) || (name.length > 32)) {
					return;
				}
				if (xid.length == 0) {
					var eventType = 'new';
				} else {
					var eventType = 'update';
				}
				var saveEvent = {
					'event_type': eventType,
					'xid': xid,
					'name': name,
					'configuration': configuration,
					'editors': editors,
					'readers': readers
				};
				var saveResp = await fetch('/view', {
					'method': 'POST',
					'body': JSON.stringify(saveEvent),
					'headers': {'Content-Type': 'application/json'}
				});
				if (eventType == 'new') {
					responseEvent = await saveResp.json();
					xid = responseEvent['xid'];
					var views = document.querySelector('#views .dropdown_content');
					var newInput = document.createElement('input');
					newInput.setAttribute('id', xid);
					newInput.setAttribute('name', 'view');
					newInput.setAttribute('type', 'radio');
					newInput.setAttribute('value', xid);
					newInput.setAttribute('checked', true);
					var newLabel = document.createElement('label');
					newLabel.setAttribute('for', xid);
					newLabel.innerText = name;
					views.appendChild(newInput);
					views.appendChild(newLabel);
				}
				if (eventType == 'update') {
					var views = document.querySelector('#views .dropdown_content');
					var newInput = document.createElement('input');
					newInput.setAttribute('id', xid);
					newInput.setAttribute('name', 'view');
					newInput.setAttribute('type', 'radio');
					newInput.setAttribute('value', xid);
					var newLabel = document.createElement('label');
					newLabel.setAttribute('for', xid);
					newLabel.innerText = name;
					views.removeChild(document.querySelector(`#${xid}`));
					views.removeChild(document.querySelector(`label[for=${xid}]`));
					views.appendChild(newInput);
					views.appendChild(newLabel);
				}
			}
		</script>

		<script>
			async function deleteView() {
				var checked = document.querySelector('#connections input:checked');
				var xid = checked.value;
				if (xid.length != 32) {
					return;
				}
				var deleteEvent = {
					'event_type': 'delete',
					'xid': xid
				};
				await fetch('/view', {
					'method': 'POST',
					'body': JSON.stringify(deleteEvent),
					'headers': {'Content-Type': 'application/json'}
				});
				document.getElementById('name').value = '';
				window.editor.setValue('');
				var views = document.querySelector('#views .dropdown_content');
				views.removeChild(document.querySelector(`#${xid}`));
				views.removeChild(document.querySelector(`label[for=${xid}]`));
				var editorInputs = document.querySelectorAll('#editors input[type="checkbox"]');
				var readerInputs = document.querySelectorAll('#readers input[type="checkbox"]');
				editorInputs.forEach((inp)=>{inp.checked = false});
				readerInputs.forEach((inp)=>{inp.checked = false});
			}
		</script>

		<script>
			async function copyXid() {
				const xid = document.querySelector('#views input:checked').value;
				navigator.clipboard.writeText(xid);
			}
		</script>


		<div id="nav" class="dropdown">
			<button class="dropbutton">
				<div><i class="material-icons">menu_open</i></div>
			</button>
			<div class="dropdown_content" >
				<a href="/" title="home"><i style="font-size:24px;" class="material-icons">home</i></a><div></div>
				<a href="/connection" title="connection"><i style="font-size:24px;" class="material-icons">cable</i></a><div></div>
				<a href="/query" title="query"><i style="font-size:24px;" class="material-icons">question_answer</i></a><div></div>
				<a href="/dashboard" title="dashboard"><i style="font-size:24px;" class="material-icons">dashboard</i></a><div></div>
				<a href="/team" title="team"><i style="font-size:24px;" class="material-icons">groups</i></a><div></div>
				<a href="/logout" title="logout"><i style="font-size:24px;" class="material-icons">logout</i></a><div></div>
			</div>
		</div>
		<label for="name">name:</label>
		<input id="name" type="text" value="" minlength="2" maxlength="32" required/>
		<div id="editors" class="dropdown">
			<button class="dropbutton">
				<div>editors <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				{% for team in teams %}
				<input id="editor_{{ team['xid'] }}" type="checkbox" value="editor_{{ team['xid'] }}">
				<label for="editor_{{ team['xid'] }}">{{ team['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<div id="readers" class="dropdown">
			<button class="dropbutton">
				<div>readers <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				{% for team in teams %}
				<input id="reader_{{ team['xid'] }}" type="checkbox" value="reader_{{ team['xid'] }}">
				<label for="reader_{{ team['xid'] }}">{{ team['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<input type="button" value="save" onclick="saveView();">
		<input type="button" value="delete" onclick="deleteView();">
		<div id="views" class="dropdown" onmouseleave="savedSelectionChanged();">
			<button class="dropbutton">
				<div>views <i class="material-icons">expand_more</i></div>
			</button>
			<div class="dropdown_content">
				<input name="view" id="new_view" type="radio" value="" checked>
				<label for="new_view">new_view</label>
				{% for view in views %}
				<input name="view" id="{{ view['xid'] }}" type="radio" value="{{ view['xid'] }}">
				<label for="{{ view['xid'] }}">{{ view['name'] }}</label>
				{% endfor %}
			</div>
		</div>
		<input type="button" value="xid" onclick="copyXid();">
	</div>

	<script>
		async function embedView() {
			var configuration = window.editor.getValue();
			if (configuration.length > 0) {
				var dataUrlMatches = Array.from(configuration.matchAll('/data\\?query_xid=x[a-f0-9]{31}'));
				for (dataUrlMatch of dataUrlMatches) {
					var userUrl = dataUrlMatch[0];
					var realUrl = (await (await fetch(userUrl)).json())['query_url'];
					configuration = configuration.replace(userUrl, realUrl);
				}
				vegaEmbed('#view_panel', JSON.parse(configuration), {actions:false, theme:'dark'});
			} else {
				document.getElementById('view_panel').innerHTML = '';
			}
		}
	</script>

	<div id="wrapper">
		<div id="configuration_panel" onclick="embedView();" autofocus>
			<script>
				var require = {"paths":{"vs":"https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs"}};
			</script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/loader.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.nls.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.25.2/min/vs/editor/editor.main.js"></script>
			<script>
				window.editor = monaco.editor.create(document.getElementById('configuration_panel'), {
					value: '',
					language: 'json',
					fontSize: 14,
					scrollbar: {
						vertical: 'auto',
						horizontal: 'auto'
					},
					theme: 'vs-dark',
					automaticLayout: true,
					wordWrap: 'on'
				});
			</script>
		</div>
		<div id="view_panel"></div>
	</div>


</div>

</body>
</html>
